name: yt2mp3-project

services:
  api:
    # Look for the Dockerfile in the current directory
    build: .
    image: yt2mp3-crispy:latest
    container_name: youtube-downloader
    # Port mapping (Host:Container)
    ports:
      - "8000:8000"
    volumes:
      - .:/app # mount for live code changes
      - download_data:/app/yt-downloads # A Docker-managed volume
    # Environment Variables
    # Set path for uvicorn module searching
    environment:
      - PYTHONPATH=/app/backend
    networks:
      - yt2mp3network
networks:
  yt2mp3network:
    name: yt2mp3-net

volumes:
  download_data: